$primary-600: #1570EF;

$surface-primary: #1D232A;
$surface-secondary-alt: #161719;
$surface-tertiary: $surface-secondary-alt;
$border-primary: #344054;
$border-secondary: $border-primary;
$link-active: #53B1FD;
$text-primary: #F2F4F7;
$text-disabled: #667085;
$text-secondary: #D0D5DD;

$critical-color: #A33129;
$critical-chip-color: #F04438;
$critical-600: #D92D20;
$major-color: #914C30;
$major-chip-color: #FB6514;
$normal-color: #193B2D;
$ack-color: #193B2D;
$normal-chip-color: #12B76A;
$informational-color: #374967;
$informational-chip-color: #2E90FA;
$minor-color: #736426;
$minor-chip-color: #FFD320;
$warning-color: $minor-color;
$warning-chip-color: $minor-chip-color;
$minor-500: #FFD320;
$severity-color: #1D2939;

.v-theme--gapitDark .sidebar {
  border-color: $border-primary;
}

.v-theme--gapitDark.v-tooltip .v-overlay__content {
  background-color: $border-secondary;
  color: $text-secondary;
}

.v-theme--gapitDark .bg-success {
  background-color: $normal-color !important;
} 

.v-theme--gapitDark .bg-error {
  background-color: $critical-color !important;
  color: $text-primary !important;
} 

.v-theme--gapitDark div {
  scrollbar-color: $border-secondary $surface-primary;
}

.v-theme--gapitDark .text-link-active {
  color: $link-active;
}

.v-theme--gapitDark .clickable {
  color: $link-active;
}

.v-theme--gapitDark ::placeholder {
  color: $text-disabled !important;
  opacity: 1 !important;
}

.v-theme--gapitDark .dialog-card {
  background-color: $surface-secondary-alt;
}

.v-theme--gapitDark .dialog-card-actions {
  border-color: $border-primary;
}

.v-theme--gapitDark .btn {
  background-color: $surface-primary;
  border-color: $border-secondary
}

.v-theme--gapitDark .alert {
  background-color: $critical-color;
  text-align: left;
}

.v-theme--gapitDark .alert .v-icon{
  color: $critical-600;
}

.v-theme--gapitDark {
  color: $text-primary
}

.v-theme--gapitDark .bg-primary-600 {
  background-color: $primary-600 !important;
  color: white !important;
}

.v-theme--gapitDark .g-input .v-input__control,
.v-theme--gapitDark .v-list,
.v-theme--gapitDark .toolbar,
.v-theme--gapitDark .bg-primary-surface,
.v-theme--gapitDark .v-main {
  background-color: $surface-primary;
}

.v-theme--gapitDark .text-primary-600,
.v-theme--gapitDark .text-primary-600 .material-icons {
  color: $primary-600;
}

.v-theme--gapitDark .text-disabled {
  color: $text-disabled !important;
}

.v-theme--gapitDark .bg-primary-600.v-switch__track {
  opacity: 1;
}

.v-theme--gapitDark .bg-critical-600 {
  background-color: $critical-600;
}

.v-theme--gapitDark .switch-light {
  background-color: $surface-primary;
  border-color: $border-secondary
}

// .v-theme--gapitDark .v-switch__track {
//   background-color: $primary-600;
// }

.v-theme--gapitDark .border-secondary {
  border-color: $border-secondary !important;
}

.v-theme--gapitDark .text-secondary {
  color: $text-secondary !important;
}

.v-theme--gapitDark .critical-text {
  color: $critical-color;
}

.v-theme--gapitDark .text-critical-chip {
  color: $critical-chip-color;
}
.v-theme--gapitDark .text-normal-chip {
  color: $normal-chip-color;
}

.v-theme--gapitDark .border-toolbar,
.v-theme--gapitDark .bg-surface-tertiary,
.v-theme--gapitDark .v-list-item__overlay {
  background-color: $surface-tertiary;
}

.v-theme--gapitDark .severity.critical {
  background-color: $critical-color;
}
.v-theme--gapitDark .severity.major {
  background-color: $major-color;
}
.v-theme--gapitDark .severity.normal {
  background-color: $normal-color;
}
.v-theme--gapitDark .severity.warning {
  background-color: $warning-color;
}
.v-theme--gapitDark .severity.minor {
  background-color: $minor-color;
}
.v-theme--gapitDark .severity.informational {
  background-color: $informational-color;
}
.v-theme--gapitDark .severity.ack {
  background-color: $ack-color;
}
.v-theme--gapitDark .severity {
  background-color: $severity-color;
}

.v-theme--gapitDark .chip.critical {
  background-color: $critical-chip-color;
}
.v-theme--gapitDark .chip.major {
  background-color: $major-chip-color;
}
.v-theme--gapitDark .chip.normal {
  background-color: $normal-chip-color;
}
.v-theme--gapitDark .chip.warning {
  background-color: $warning-chip-color;
  color: #000000 !important;
}
.v-theme--gapitDark .chip.minor {
  background-color: $minor-chip-color;
  color: #000000 !important;
}

.v-theme--gapitDark .chip.informational {
  background-color: $informational-chip-color;
}

.v-theme--gapitDark .chip.ok {
  background-color: $normal-chip-color;
}

.v-theme--gapitDark .chip.slow{
  background-color: $minor-500;
  color: #000000 !important;
}
.v-theme--gapitDark .chip.expired{
  background-color: $critical-chip-color;
}

.v-theme--gapitDark .chip {
  background-color: $surface-primary;
  color: $text-primary;
  border-color: $border-secondary;
}

.v-theme--gapitDark .table-column {
  border-color: $surface-primary !important;
}
