$primary-600: #1570ef;

$surface-primary: #ffffff;
$surface-secondary-alt: #f9fafb;
$surface-tertiary: #edeff3;
$border-primary: #eaecf0;
$border-secondary: #d0d5dd;
$link-active: $primary-600;
$text-primary: #000000;
$text-disabled: #98a2b3;
$text-secondary: #475467;

$critical-color: #f97066;
$critical-chip-color: #f04438;
$critical-600: #d92d20;
$major-color: #feb273;
$major-chip-color: #fb6514;
$normal-color: #d1fadf;
$normal-chip-color: #12b76a;
$ack-color: #d1fadf;
$minor-color: #ffec9f;
$minor-chip-color: #ffd320;
$warning-color: $minor-color;
$warning-chip-color: $minor-chip-color;
$informational-color: #d1e9ff;
$informational-chip-color: #2e90fa;
$minor-500: #ffd320;
$severity-color: #f2f4f7;

.v-theme--gapitLight .sidebar {
  border-color: $border-primary;
}

.v-theme--gapitLight.v-tooltip .v-overlay__content {
  background-color: $border-secondary;
  color: $text-secondary;
}

.v-theme--gapitLight .bg-success {
  background-color: $normal-color !important;
  color: $text-primary !important;
}

.v-theme--gapitLight .bg-error {
  background-color: $critical-color !important;
  color: $text-primary !important;
}

.v-theme--gapitLight div {
  scrollbar-color: $border-secondary $surface-primary;
}

.v-theme--gapitLight .text-link-active {
  color: $link-active;
}

.v-theme--gapitLight .clickable {
  color: $link-active;
}

.v-theme--gapitLight ::placeholder {
  color: $text-disabled !important;
  opacity: 1 !important;
}

.v-theme--gapitLight .dialog-card {
  background-color: $surface-secondary-alt;
}

.v-theme--gapitLight .dialog-card-actions {
  border-color: $border-primary;
}

.v-theme--gapitLight .btn {
  background-color: $surface-primary;
  border-color: $border-secondary;
}

.v-theme--gapitLight .alert {
  background-color: $critical-color;
  text-align: left;
}

.v-theme--gapitLight .alert .v-icon {
  color: $critical-600;
}

.v-theme--gapitLight {
  color: $text-primary;
}

.v-theme--gapitLight .bg-primary-600 {
  background-color: $primary-600 !important;
  color: white !important;
}

.v-theme--gapitLight .g-input .v-input__control,
.v-theme--gapitLight .v-list,
.v-theme--gapitLight .toolbar,
.v-theme--gapitLight .bg-primary-surface,
.v-theme--gapitLight .v-main {
  background-color: $surface-primary;
}

.v-theme--gapitLight .text-primary-600,
.v-theme--gapitLight .text-primary-600 .material-icons {
  color: $primary-600 !important;
}

.v-theme--gapitLight .text-disabled {
  color: $text-disabled !important;
}

.v-theme--gapitLight .bg-primary-600.v-switch__track {
  opacity: 1;
}

.v-theme--gapitLight .bg-critical-600 {
  background-color: $critical-600;
}

.v-theme--gapitLight .switch-light {
  background-color: $surface-primary;
  border-color: $border-secondary;
}

// .v-theme--gapitLight .v-switch__track {
//   background-color: $primary-600;
// }

.v-theme--gapitLight .border-secondary {
  border-color: $border-secondary !important;
}

.v-theme--gapitLight .text-secondary {
  color: $text-secondary !important;
}

.v-theme--gapitLight .critical-text {
  color: $critical-color;
}

.v-theme--gapitLight .text-critical-chip {
  color: $critical-chip-color;
}
.v-theme--gapitLight .text-normal-chip {
  color: $normal-chip-color;
}

.v-theme--gapitLight .border-toolbar,
.v-theme--gapitLight .bg-surface-tertiary,
.v-theme--gapitLight .v-list-item__overlay {
  background-color: $surface-tertiary;
}

.v-theme--gapitLight .severity.critical {
  background-color: $critical-color;
}
.v-theme--gapitLight .severity.major {
  background-color: $major-color;
}
.v-theme--gapitLight .severity.normal {
  background-color: $normal-color;
}
.v-theme--gapitLight .severity.warning {
  background-color: $warning-color;
}
.v-theme--gapitLight .severity.minor {
  background-color: $minor-color;
}
.v-theme--gapitLight .severity.informational {
  background-color: $informational-color;
}
.v-theme--gapitLight .severity.ack {
  background-color: $ack-color;
}
.v-theme--gapitLight .severity {
  background-color: $severity-color;
}

.v-theme--gapitLight .chip.critical {
  background-color: $critical-chip-color;
}
.v-theme--gapitLight .chip.major {
  background-color: $major-chip-color;
}
.v-theme--gapitLight .chip.normal {
  background-color: $normal-chip-color;
}
.v-theme--gapitLight .chip.warning {
  background-color: $warning-chip-color;
  color: #000000;
}
.v-theme--gapitLight .chip.minor {
  background-color: $minor-chip-color;
  color: #000000;
}
.v-theme--gapitLight .chip.informational {
  background-color: $informational-chip-color;
}

.v-theme--gapitLight .chip.ok {
  background-color: $normal-chip-color;
}

.v-theme--gapitLight .chip.slow {
  background-color: $minor-500;
  color: #000000 !important;
}
.v-theme--gapitLight .chip.expired {
  background-color: $critical-chip-color;
}

.v-theme--gapitLight .chip {
  background-color: $surface-primary;
  color: $text-primary;
  border-color: $border-secondary;
}

.v-theme--gapitLight .table-column {
  border-color: $surface-primary !important;
}
